<div class="navbar">
    <ul>
        <li><a <%-(path == '/')? 'class=highlighted':'' %> href="/">Home</a></li>
        <li><a <%-(path == '/About')? 'class=highlighted':'' %> href="/About">About</a></li>
        <li><a <%-(path == '/IT%20Services')? 'class=highlighted':'' %> href="/IT Services">IT Services</a></li>
        <li><a <%-(path == '/Travel%20Support')? 'class=highlighted':'' %> href="/Travel Support">Travel Support</a></li>
        <li><a <%-(path == '/New%20Hire%20Information')? 'class=highlighted':'' %> href="/New Hire Information">New Hire Information</a></li>
        <li><a <%-(path == '/HR%20Portal')? 'class=highlighted':'' %> href="/HR Portal">HR Portal</a></li>
        <li class="acc"><a href="/account">account</a></li>
    </ul>
</div>
