<div class="navbar">
    <ul>
        <li><a <%-(path == '/')? 'class=highlighted':'' %> href="/">Home</a></li>
        <li><a <%-(path == '/About')? 'class=highlighted':'' %> href="/About">About</a></li>
<<<<<<< HEAD
        <li><a <%-(path == '/IT Services')? 'class=highlighted':'' %> href="/IT Services">IT Services Catalog</a></li>
=======
<<<<<<< HEAD
        <li><a <%-(path == '/IT%20Services')? 'class=highlighted':'' %> href="/IT Services">IT Services</a></li>
        <li><a <%-(path == '/Travel%20Support')? 'class=highlighted':'' %> href="/Travel Support">Travel Support</a></li>
        <li><a <%-(path == '/New%20Hire%20Information')? 'class=highlighted':'' %> href="/New Hire Information">New Hire Information</a></li>
        <li><a <%-(path == '/HR%20Portal')? 'class=highlighted':'' %> href="/HR Portal">HR Portal</a></li>
=======
        <li><a <%-(path == '/IT Services Catalog')? 'class=highlighted':'' %> href="/IT Services Catalog">IT Services Catalog</a></li>
>>>>>>> 511b8ba81c4533e1ce52cc9fde100e6b6555cf3f
        <li><a <%-(path == '/Travel Support')? 'class=highlighted':'' %> href="/Travel Support">Travel Support</a></li>
        <li><a <%-(path == '/New Hire Information')? 'class=highlighted':'' %> href="/New Hire Information">New Hire Information</a></li>
<<<<<<< HEAD
        <li><a <%-(path == '/HR Portal')? 'class=highlighted':'' %> href="/HR Portal">Complaince Portal</a></li>
        <li class="acc"><a href="/account">Netcracker</a></li>
=======
        <li><a <%-(path == '/Internal Portals')? 'class=highlighted':'' %> href="/Internal Portals">Internal Portals</a></li>
>>>>>>> 9456c66020c56dffaf3f79fd62d0f5d122a6007b
        <li class="acc"><a href="/account">account</a></li>
>>>>>>> 511b8ba81c4533e1ce52cc9fde100e6b6555cf3f
    </ul>
</div>
