<div class="navbar">
    <ul>
        <li><a <%-(path == '/')? 'class=highlighted':'' %> href="/">Home</a></li>
        <li><a <%-(path == '/About')? 'class=highlighted':'' %> href="/About">About</a></li>
        <li><a <%-(path == '/IT Services Catalog')? 'class=highlighted':'' %> href="/IT Services Catalog">IT Services Catalog</a></li>
        <li><a <%-(path == '/Travel Support')? 'class=highlighted':'' %> href="/Travel Support">Travel Support</a></li>
        <li><a <%-(path == '/Complaince Portal')? 'class=highlighted':'' %> href="/Complaince Portal">Complaince Portal</a></li>
        <li><a <%-(path == '/New Hire Information')? 'class=highlighted':'' %> href="/New Hire Information">New Hire Information</a></li>
        <li><a <%-(path == '/Internal Portals')? 'class=highlighted':'' %> href="/Internal Portals">Internal Portals</a></li>
        <li class="acc"><a href="/account">account</a></li>
    </ul>
</div>
