<div class="navbar">
    <ul>
        <li><a <%-(path == '/')? 'class=highlighted':'' %> href="/">Home</a></li>
        <li><a <%-(path == '/About')? 'class=highlighted':'' %> href="/About">About</a></li>
        <li><a <%-(path == '/IT Services')? 'class=highlighted':'' %> href="/IT Services">IT Services Catalog</a></li>
        <li><a <%-(path == '/Travel Support')? 'class=highlighted':'' %> href="/Travel Support">Travel Support</a></li>
        <li><a <%-(path == '/New Hire Information')? 'class=highlighted':'' %> href="/New Hire Information">New Hire Information</a></li>
        <li><a <%-(path == '/HR Portal')? 'class=highlighted':'' %> href="/HR Portal">Complaince Portal</a></li>
        <li class="acc"><a href="/account">Netcracker</a></li>
    </ul>
</div>
